@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
body {
  font-family: 'Inconsolata', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  /* background-color: #49315d; */
  background-image: url('../3d-background-with-white-cubes.jpg');
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
  display: flex;
}

h2 {
  color: #333;
  text-align: center;
}

.form-section {
  flex-wrap: wrap;
  width: 30%;
  display: flex;
  margin-top: 20px;
}
#detalles {
  width: 65%;
  height: 100%;
}
#estatus {
  color: red;
  width: 5%;
  height: 5rem;
  display: flex;
  vertical-align: middle;
  background-color: #7551afa2;
  border-radius: 5px;
}

.product-entry,
.search-delete {
  color: rgb(0, 0, 0);
  width: 100%; /* Ajustar el ancho para que encaje mejor */
  height: 18rem;
  background: rgba(255, 255, 255, 0.323);
  border: none;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.48);
  margin-bottom: 1rem;
}

.product-entry label {
  display: block;
  margin: 10px 0 5px;
}

.product-entry input[type='number'],
.product-entry input[type='text'] {
  width: calc(100% - 20px); /* Ajustar el ancho del input */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #0808089b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 97%;
  margin-top: 10px; /* Espaciado entre botones */
}

button:hover {
  background-color: #ffffff;
  color: black;
}

.search-delete h2 {
  margin: 10px 0 5px;
  color: #333;
}

.search-delete label {
  display: block;
  margin-bottom: 5px;
}

.search-delete input {
  width: calc(100% - 20px); /* Ajustar el ancho del input */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product {
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.418);
  border: none;
  width: 15%;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  -webkit-box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.32);
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.02);
}

.product h3 {
  color: #93ffac;
  margin-bottom: 10px;
}

.product p {
  margin: 5px 0;
  color: #ffffff;
}
